
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.login label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.login input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}

.login form div{
    text-align: left;
}

.login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login div {
    margin-bottom: 20px;
    width: 100%;
}
